
.icon-menu:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */