
.icon-note-beamed:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-repost:before { content: '\e802'; } /* '' */
.icon-play-1:before { content: '\e806'; } /* '' */
.icon-like:before { content: '\e815'; } /* '' */
.icon-comment:before { content: '\e816'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */